.App {
  text-align: center;
  font-family: Arial;
  margin-top: 50px;
}

h1 {
  color: #2c3e50;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ecf0f1;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}
